@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e1d7c6;
}
.input_container {
  height: 200px;
  width: 100%;
  background-color: #cdc2a5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
}
form {
  margin-top: 20px;
}
#animal {
  height: 35px;
  width: 250px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
}
#btn {
  height: 35px;
  padding: 0 10px;
  background-color: #295f98;
  font-size: 20px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
#detail_container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #eae4dd;
  margin-top: 40px;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #cdc2a5;
}
.detail_left {
  width: 50%;
}
.detail_right {
  width: 50%;
  padding: 20px;
}
#animalImage {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
#name {
  font-size: 3rem;
}
@media (max-width: 1317px) {
  #detail_container {
    flex-direction: column;
    padding: 0px;
    width: 60%;
  }
  #animalImage {
    width: 100%;
    height: 300px;
  }
  .detail_left {
    width: 100%;
  }
  .detail_right {
    width: 100%;
    padding: 20px;
  }
}
